.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 40px;
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__logo {
    font-size: 2rem;
    text-decoration: line-through;
    text-decoration-color: $white;

    h2 {
      color: $text-color_primary;
    }
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      li {
        margin: 0 40px;
        color: $text-color_primary;
      }
    }
  }

  &__others {
    width: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    &:hover {
      cursor: pointer;
      & div:first-child {
        right: 50%;
        transform: translateX(50%);
      }
      & div:last-child {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    div:first-child {
      position: absolute;
      top: 40%;
      right: 0;
      width: 70%;
      height: 3px;
      background-color: $text-color_primary;
      margin-bottom: 6px;
      margin-left: 10px;
      transition: all 0.2s;
    }
    div:last-child {
      position: absolute;
      top: 55%;
      left: 0;
      width: 70%;
      height: 3px;
      background-color: $text-color_primary;
      transition: all 0.2s;
    }
  }

  &__expand {
    width: 0;
    position: fixed;
    transition: ease 0.3s;
    height: 100vh;
    background: rgb(32, 32, 32);
    top: 0;
    bottom: 0;
    right: -400px;
    visibility: hidden;
    width: 400px;
    display: flex;

    svg {
      display: none;
    }
  }

  &__expand.open {
    visibility: visible;
    right: 0;

    .user-profile,
    .introduce {
      width: 70%;
      height: 80%;
      margin: auto;
      text-align: center;

      h4 {
        color: white;
        margin-bottom: 20px;
        text-decoration: line-through;
        font-size: 4rem;
      }

      h6 {
        color: rgb(188, 186, 186);
        margin-bottom: 20px;
        font-size: 1.4rem;
        letter-spacing: 4px;
      }
    }

    .introduce {
    }

    svg {
      width: 40px;
      height: 40px;
      fill: rgba(219, 217, 217, 0.5);
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
