.MuiFormControl-root {
  label {
    color: white;
  }
  .MuiOutlinedInput-root {
    &:hover {
      .MuiOutlinedInput-notchedOutline {
        border-color: white;
      }
    }

    input {
      color: white;
    }

    fieldset {
      border-color: $white;
    }
  }
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
