* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  font-family: "Bebas Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #222;
}

#root {
  width: inherit;
  height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding-left: unset;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  outline: 0;
  cursor: pointer;
  &:disabled {
    pointer-events: none;
    cursor: auto;
    opacity: 0.7;
  }
}

input {
  outline: 0;
}
